@import "src/app/core/scss/fuse";

.adddialog {

    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint-up('xs') {
        width: 720px;
    }

    mat-dialog-container {
        padding: 0 !important;
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }
}
