<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Edit Schedule</span>
            <button mat-button  [mat-dialog-close]="true" class="mat-icon-button">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>

        <form name="" class="event-form w-100-p" fxLayout="column" fxFlex>

 <h2 class="m-0">Start</h2>
              <div class="py-16" fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row" formGroupName="">
                  <mat-form-field class="mr-sm-24" fxFlex>
  <input matInput [matDatepicker]="picker" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

                <mat-form-field class="mr-sm-24" fxFlex>
  <mat-select placeholder="Hour" [(value)]="selectedtime1">
    <mat-option>None</mat-option>
    <mat-option value="optiontime1">8 AM</mat-option>
    <mat-option value="optiontime2">9 AM</mat-option>
    <mat-option value="optiontime3">10 AM</mat-option>
    <mat-option value="optiontime4">11 AM</mat-option>
    <mat-option value="optiontime5">12 AM</mat-option>
  </mat-select>
</mat-form-field>

                <mat-form-field class="mr-sm-24" fxFlex>
  <mat-select placeholder="Min" [(value)]="selectedtime2">
    <mat-option>None</mat-option>
    <mat-option value="optiontimemin1">00</mat-option>
    <mat-option value="optiontimemin2">01</mat-option>
    <mat-option value="optiontimemin3">02</mat-option>
    <mat-option value="optiontimemin4">03</mat-option>
    <mat-option value="optiontimemin5">04</mat-option>
  </mat-select>
</mat-form-field>


            </div>
       
<h2 class="m-0">End</h2>

              <div class="py-16" fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row" formGroupName="">
                  <mat-form-field class="mr-sm-24" fxFlex>
  <input matInput [matDatepicker]="picker2" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
  <mat-datepicker #picker2></mat-datepicker>
</mat-form-field>

                <mat-form-field class="mr-sm-24" fxFlex>
  <mat-select placeholder="Hour" [(value)]="selectedtime3">
    <mat-option>None</mat-option>
    <mat-option value="optiontimesec1">8 AM</mat-option>
    <mat-option value="optiontimesec2">9 AM</mat-option>
    <mat-option value="optiontimesec3">10 AM</mat-option>
    <mat-option value="optiontimesec4">11 AM</mat-option>
    <mat-option value="optiontimesec5">12 AM</mat-option>
  </mat-select>
</mat-form-field>

                <mat-form-field class="mr-sm-24" fxFlex>
  <mat-select placeholder="Min" [(value)]="selectedtime4">
    <mat-option>None</mat-option>
    <mat-option value="optiontimesecd1">00</mat-option>
    <mat-option value="optiontimesecd2">01</mat-option>
    <mat-option value="optiontimesecd3">02</mat-option>
    <mat-option value="optiontimesecd4">03</mat-option>
    <mat-option value="optiontimesecd5">04</mat-option>
  </mat-select>
</mat-form-field>

   </div>
  <div class="py-16" fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row" formGroupName="">
   <mat-form-field class="mr-sm-24" fxFlex>
  <mat-select placeholder="Appointment" [(value)]="appointmentname">
    <mat-option>None</mat-option>
    <mat-option value="appointoption1">Jason Levy</mat-option>
    <mat-option value="appointoption2">Ken Rogers</mat-option>
    <mat-option value="appointoption3">Valerie Liberty</mat-option>
    <mat-option value="appointoption4">Marco Botton</mat-option>
    <mat-option value="appointoption5">Valerie Liberty</mat-option>
    <mat-option value="appointoption6">Ken Rogers</mat-option>
  </mat-select>
</mat-form-field>

   <mat-form-field class="mr-sm-24" fxFlex>
  <mat-select placeholder="Email" [(value)]="emailbefore">
    <mat-option>None</mat-option>
    <mat-option value="emailoption1">15 Min</mat-option>
    <mat-option value="emailoption2">1 hr</mat-option>
    <mat-option value="emailoption3">2 hr</mat-option>
    <mat-option value="emailoption4">1 day</mat-option>
    <mat-option value="emailoption5">2 days</mat-option>
    <mat-option value="emailoption6">3 days</mat-option>
    <mat-option value="emailoption7">4 days</mat-option>
    <mat-option value="emailoption8">5 days</mat-option>
    <mat-option value="emailoption9">6 days</mat-option>
    <mat-option value="emailoption10">7 days</mat-option>
    <mat-option value="emailoption11">8 days</mat-option>
    <mat-option value="emailoption12">9 days</mat-option>
  </mat-select>
</mat-form-field>
   <div class="mr-sm-24" fxFlex>
 <h4>before</h4>
</div>


            </div>



        </form>

    </div>

    <div mat-dialog-actions class="m-0 pl-248 pr-248 dialog-buttons" fxLayout="row" fxLayoutAlign="space-between center">

        <button mat-raised-button [mat-dialog-close]="true" class="save-button mat-accent">
            Save
        </button>
    </div>
</div>
