@import "src/app/core/scss/fuse";

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 76vh;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 76vh;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.element-row {
  position: relative;
}

.element-row:not(.expanded) {
  cursor: pointer;
}

.element-row:not(.expanded):hover {
  background: #f5f5f5;
}

.element-row.expanded {
  border-bottom-color: transparent;
}

.service-list {
    border-collapse: collapse;
    width: 100%;
}

.service-list th{text-align: left;}
.service-list td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 4px;
}

.service-list tr:nth-child(even) {
    background-color: #dddddd;
}