<div class="page-layout blank p-24" fusePerfectScrollbar>

  <h2>Customers</h2>

  <div class="example-container mat-elevation-z8">
    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Customers">
      </mat-form-field>
    </div>
    <mat-table #table [dataSource]="dataSource">
      <!-- <div (click)="selectedRow(element)"> -->
      <ng-container matColumnDef="add">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn">
            <mat-icon>add</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.first_name}} {{element.last_name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.phone}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.address1 }} {{element.address2 }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn" (click)="delete(element)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="edit(element)">
            <mat-icon>edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <!-- </div> -->


      <!-- Expanded Content Column - The detail row is made up of this one column -->
      <ng-container matColumnDef="expandedDetail">
        <mat-cell *matCellDef="let detail">
          <table class="service-list mt-20 mb-20">
            <tr>
              <th>Service Name</th>
              <th>Email</th>
              <th>Phone</th>
            </tr>
            <tr>
              <td>Alfreds Futterkiste</td>
              <td>Marco@gmail.com</td>
              <td>703-555-5555</td>
            </tr>
            <tr>
              <td>Alfreds Futterkiste</td>
              <td>Marco@gmail.com</td>
              <td>703-555-5555</td>
            </tr>
            <tr>
              <td>Alfreds Futterkiste</td>
              <td>Marco@gmail.com</td>
              <td>703-555-5555</td>
            </tr>
            <tr>
              <td>Alfreds Futterkiste</td>
              <td>Marco@gmail.com</td>
              <td>703-555-5555</td>
            </tr>
            <tr>
              <td>Alfreds Futterkiste</td>
              <td>Marco@gmail.com</td>
              <td>703-555-5555</td>
            </tr>
            <tr>
              <td>Alfreds Futterkiste</td>
              <td>Marco@gmail.com</td>
              <td>703-555-5555</td>
            </tr>
            <tr>
              <td>Alfreds Futterkiste</td>
              <td>Marco@gmail.com</td>
              <td>703-555-5555</td>
            </tr>

          </table>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row" [class.expanded]="expandedElement == row"
        (click)="expandedElement = row;selectedRow(row); "></mat-row>
      <mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow" [@detailExpand]="row.element == expandedElement ? 'expanded' : 'collapsed'"
        style="overflow: hidden">
      </mat-row>
      <!--<mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20]"
                 [showFirstLastButtons]="false">
  </mat-paginator>-->
    </mat-table>
  </div>
</div>
