<div id="dashboard-project" class="page-layout blank grey-100-bg" fusePerfectScrollbar>
   <div class="content" style="padding-bottom:0;">
      <div class="left">
         <h3>Ticket #: {{tickedId}}</h3>
         <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
            <div class="widget" fxFlex="100" fxFlex.gt-sm="50">
               <div class="fuse-card auto-width" [ngClass.gt-sm]="'mb-0 mr-32'">
                  <div class="p-8 pb-0" fxLayout="row" fxLayoutAlign="start end" fxLayoutWrap>
                     <div class="pr-8">
                        <div class="h2 secondary-text" fxLayout="column" fxLayout.gt-xs="row">Service Location</div>
                        <div class="button-row ml-8" style="margin-top: -8px;" fxFlex>
                           <button (click)="editServiceDialog()" mat-icon-button>
                              <mat-icon>edit</mat-icon>
                           </button>
                           <button (click)="addServiceDialog()" mat-icon-button color="primary">
                              <mat-icon>add</mat-icon>
                           </button>
                        </div>
                     </div>
                  </div>
                  <div class="p-8">
                     <div class="h-280 w-100-p">
                        <form class="example-form">
                           <mat-form-field>
                              <mat-select placeholder="Contact" name="clientServiceData" (change)="getServiceDetailsFn(clientServiceData)" [(ngModel)]="clientServiceData">
                              <mat-option *ngFor="let client of tmpClientService" [value]="client.id">
                              {{ client.name }}
                              </mat-option>
                              </mat-select>
                           </mat-form-field>
                           <mat-form-field class="example-full-width">
                              <textarea matInput [(ngModel)]="service.address" [ngModelOptions]="{standalone: true}" placeholder="Address" readonly>Plum Amphitheatre Pkwy</textarea>
                           </mat-form-field>
                           <table class="example-full-width" cellspacing="0">
                              <tr>
                                 <td>
                                    <mat-form-field class="example-full-width">
                                       <input matInput [(ngModel)]="service.city" [ngModelOptions]="{standalone: true}" placeholder="City" value="Sarasota" readonly>
                                    </mat-form-field>
                                 </td>
                                 <td>
                                    <mat-form-field class="example-full-width">
                                       <input matInput [(ngModel)]="service.state" [ngModelOptions]="{standalone: true}" placeholder="State" value="FL" readonly>
                                    </mat-form-field>
                                 </td>
                              </tr>
                           </table>
                           <table class="example-full-width" cellspacing="0">
                              <tr>
                                 <td>
                                    <mat-form-field class="example-full-width">
                                       <input matInput [(ngModel)]="service.email" [ngModelOptions]="{standalone: true}" placeholder="Email" value="bill@gmail.com"
                                       readonly>
                                    </mat-form-field>
                                 </td>
                                 <td>
                                    <mat-form-field class="example-full-width">
                                       <input matInput [(ngModel)]="service.phone" [ngModelOptions]="{standalone: true}" placeholder="Phone" value="941-865-3255"
                                       readonly>
                                    </mat-form-field>
                                 </td>
                              </tr>
                           </table>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
            <div class="widget" fxFlex="100" fxFlex.gt-sm="50">
               <div class="fuse-card auto-width" [ngClass.gt-sm]="'mb-0'">
                  <div class="p-8 pb-0" fxLayout="row" fxLayoutAlign="start end" fxLayoutWrap>
                     <div class="pr-8">
                        <div class="h2 secondary-text" fxLayout="column" fxLayout.gt-xs="row">Customer Contact</div>
                        <div class="button-row ml-8" style="margin-top: -8px;" fxFlex>
                           <button (click)="editDialog()" mat-icon-button>
                              <mat-icon>edit</mat-icon>
                           </button>
                           <button (click)="addDialog()" mat-icon-button color="primary">
                              <mat-icon>add</mat-icon>
                           </button>
                        </div>
                     </div>
                  </div>
                  <div class="p-8">
                     <div class="h-280 w-100-p">
                        <form class="example-form">
                           <mat-form-field>
                              <mat-select placeholder="Customer" id="customerid" name="selectednameid" [(ngModel)]="selectednameid" (ngModelChange)="onChange($event)">
                              <mat-option *ngFor="let obj of names" [value]="obj.id">
                              {{ obj.first_name }} {{ obj.last_name }}
                              </mat-option>
                              </mat-select>
                           </mat-form-field>
                           <mat-form-field class="example-full-width">
                              <textarea matInput placeholder="Address" name="address" [(ngModel)]="result.address" readonly></textarea>
                           </mat-form-field>
                           <table class="example-full-width" cellspacing="0">
                              <tr>
                                 <td>
                                    <mat-form-field class="example-full-width">
                                       <input matInput placeholder="City" name="city" [(ngModel)]="result.city" readonly>
                                    </mat-form-field>
                                 </td>
                                 <td>
                                    <mat-form-field class="example-full-width">
                                       <input matInput placeholder="State" name="state" [(ngModel)]="result.state" readonly>
                                    </mat-form-field>
                                 </td>
                              </tr>
                           </table>
                           <table class="example-full-width" cellspacing="0">
                              <tr>
                                 <td>
                                    <mat-form-field class="example-full-width">
                                       <input matInput placeholder="Email" name="email" [(ngModel)]="result.email" readonly>
                                    </mat-form-field>
                                 </td>
                                 <td>
                                    <mat-form-field class="example-full-width">
                                       <input matInput placeholder="Phone" name="phone" [(ngModel)]="result.phone" readonly>
                                    </mat-form-field>
                                 </td>
                              </tr>
                           </table>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="content">
      <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="100"
      fxFlex.gt-md="100">
      <mat-tab-group class="tab-custom">
         <mat-tab label="Work Order">
            <div class="widget" fxFlex="100" fxFlex.gt-sm="100">
               <div class="fuse-card auto-width" [ngClass.gt-sm]="'mb-0'">
                  <div class="p-16">
                     <form class="example-form">
                        <mat-form-field>
                           <mat-select placeholder="Status" [(ngModel)]="statusValue" [ngModelOptions]="{standalone: true}">
                           <mat-option *ngFor="let state of status" [value]="state.value">
                           {{ state.viewValue }}
                           </mat-option>
                           </mat-select>
                        </mat-form-field>
                     </form>
                     <!--status open starts-->
                     <div>
                        <!-- added by regan -->
                        <form class="example-form mb-20">
                           <mat-form-field>
                              <mat-select placeholder="Category" [(ngModel)]="categoryValue" [ngModelOptions]="{standalone: true}">
                              <mat-option *ngFor="let category of categorys" [value]="category.value">
                              {{ category.viewValue }}
                              </mat-option>
                              </mat-select>
                           </mat-form-field>
                           <mat-form-field class="example-full-width">
                              <input matInput placeholder="Short Description" [(ngModel)]="shortDescription" value="" [ngModelOptions]="{standalone: true}"
                              required>
                           </mat-form-field>
                           <mat-form-field class="example-full-width">
                              <textarea rows="6" cols="40" matInput placeholder="Description" [(ngModel)]="description" [ngModelOptions]="{standalone: true}"
                              required>258 1st St</textarea>
                           </mat-form-field>
                           <mat-form-field class="example-full-width">
                              <mat-select placeholder="Assigned to:" [(ngModel)]="assignedTo" [ngModelOptions]="{standalone: true}">
                              <mat-option *ngFor="let option of username" [value]="option.id">
                              {{ option.first_name }} {{ option.last_name }}
                              </mat-option>
                              </mat-select>
                           </mat-form-field>
                           <div class="row-2 mt-20 mb-20" fxLayout="row" fxLayoutAlign="start center">
                              <div fxLayout="column">
                                 <label class="mr-16">
                                    Appointment  
                                    <button (click)="addScheduleDialog()" mat-mini-fab color="primary" class="ml-20">
                                       <mat-icon class="icon-white">add</mat-icon>
                                    </button>
                                 </label>
                              </div>
                           </div>
                           <mat-accordion class="example-headers-align">
                              <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(0)" hideToggle="true">
                              <mat-expansion-panel-header>
                                 <mat-panel-title>
                                    Appointment 1 
                                 </mat-panel-title>
                                 <mat-panel-description>
                                    Levy, Jason install additioanl plumbing fixtures
                                    <div class="button-row ml-8" style="margin-top: -8px;text-align:right;" fxFlex>
                                       <button (click)="editScheduleDialog()" mat-icon-button>
                                          <mat-icon>edit</mat-icon>
                                       </button>
                                       <button mat-icon-button color="primary">
                                          <mat-icon>delete</mat-icon>
                                       </button>
                                    </div>
                                 </mat-panel-description>
                              </mat-expansion-panel-header>
                              <div class="message text-truncate mt-10">
                                 <i class="material-icons message-icon">today</i> Mon Mar 5, 2018 8:00AM for 2.00hr(s) <i class="material-icons message-icon">notifications_none</i> 15min iCal Add Follow-Up Jo
                              </div>
                              </mat-expansion-panel>
                           </mat-accordion>
                           <mat-accordion class="example-headers-align">
                              <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(0)" hideToggle="true">
                              <mat-expansion-panel-header>
                                 <mat-panel-title>
                                    Appointment 2 
                                 </mat-panel-title>
                                 <mat-panel-description>
                                    Levy, Jason install additioanl plumbing fixtures
                                    <div class="button-row ml-8" style="margin-top: -8px;text-align:right;" fxFlex>
                                       <button (click)="editScheduleDialog()" mat-icon-button>
                                          <mat-icon>edit</mat-icon>
                                       </button>
                                       <button mat-icon-button color="primary">
                                          <mat-icon>delete</mat-icon>
                                       </button>
                                    </div>
                                 </mat-panel-description>
                              </mat-expansion-panel-header>
                              <div class="message text-truncate mt-10">
                                 <i class="material-icons message-icon">today</i> Mon Mar 5, 2018 8:00AM for 2.00hr(s) <i class="material-icons message-icon">notifications_none</i> 15min iCal Add Follow-Up Jo
                              </div>
                              </mat-expansion-panel>
                           </mat-accordion>
                           <mat-accordion class="example-headers-align mb-20">
                              <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(0)" hideToggle="true">
                              <mat-expansion-panel-header>
                                 <mat-panel-title>
                                    Appointment 3 
                                 </mat-panel-title>
                                 <mat-panel-description>
                                    Levy, Jason install additioanl plumbing fixtures
                                    <div class="button-row ml-8" style="margin-top: -8px;text-align:right;" fxFlex>
                                       <button (click)="editScheduleDialog()" mat-icon-button>
                                          <mat-icon>edit</mat-icon>
                                       </button>
                                       <button mat-icon-button color="primary">
                                          <mat-icon>delete</mat-icon>
                                       </button>
                                    </div>
                                 </mat-panel-description>
                              </mat-expansion-panel-header>
                              <div class="message text-truncate">
                                 <i class="material-icons message-icon">today</i> Mon Mar 5, 2018 8:00AM for 2.00hr(s) <i class="material-icons message-icon">notifications_none</i> 15min iCal Add Follow-Up Jo
                              </div>
                              </mat-expansion-panel>
                           </mat-accordion>
                        </form>
                        <ng2-file-input class="mt-16" [id]="'multiFilesInputWithPreview'" (onCouldNotRemove)="onCouldNotRemove($event)" [multiple]="true"
                        (onRemoved)="onRemoved($event)" (onAdded)="onAdded($event)" (onAction)="onAction($event)"></ng2-file-input>
                        <!-- <button  mat-raised-button color="primary" style="float: right" (click)="updateWorkOrder()">Save</button> -->
                        <div class="mt-16" style="text-align:right">
                           <button mat-raised-button color="primary" (click)="updateWorkOrder()" [disabled]="!description || !shortDescription " >Save</button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </mat-tab>
         <mat-tab label="Estimate">
            <div class="widget" fxFlex="100" fxFlex.gt-sm="100">
               <div class="fuse-card auto-width" [ngClass.gt-sm]="'mb-0'">
                  <div class="p-16">
                     <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
                        <div class="widget" fxFlex="100" fxFlex.gt-sm="50">
                           <mat-form-field>
                              <mat-select placeholder="Status">
                                 <mat-option *ngFor="let statu of status" [value]="statu.value">
                                 {{ statu.viewValue }}
                                 </mat-option>
                              </mat-select>
                           </mat-form-field>
                        </div>
                        <div class="widget" fxFlex="100" fxFlex.gt-sm="50">
                           <table class="summary">
                              <tr>
                                 <td class="label">Estimate #:</td>
                                 <td class="value">8452</td>
                              </tr>
                              <tr>
                                 <td class="label">Issue Date</td>
                                 <td class="value">
                                    <mat-form-field>
                                       <input matInput [matDatepicker]="estimateissuedate" [formControl]="date">
                                       <mat-datepicker-toggle matSuffix [for]="estimateissuedate"></mat-datepicker-toggle>
                                       <mat-datepicker #estimateissuedate></mat-datepicker>
                                    </mat-form-field>
                                 </td>
                              </tr>
                           </table>
                        </div>
                     </div>
                     <button mat-raised-button color="primary">Add</button>
                     <mat-table #table [dataSource]="dataSource">
                     <ng-container matColumnDef="approved">
                        <mat-header-cell *matHeaderCellDef> Approved </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                           <mat-checkbox class="example-margin">.</mat-checkbox>
                        </mat-cell>
                     </ng-container>
                     <!-- Name Column -->
                     <ng-container matColumnDef="quantity">
                        <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.quantity}} </mat-cell>
                     </ng-container>
                     <!-- Weight Column -->
                     <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                     </ng-container>
                     <!-- Symbol Column -->
                     <ng-container matColumnDef="description">
                        <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
                     </ng-container>
                     <ng-container matColumnDef="cost">
                        <mat-header-cell *matHeaderCellDef> Cost </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.cost}} </mat-cell>
                     </ng-container>
                     <ng-container matColumnDef="rate">
                        <mat-header-cell *matHeaderCellDef> Rate </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.rate}} </mat-cell>
                     </ng-container>
                     <ng-container matColumnDef="amount">
                        <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
                     </ng-container>
                     <ng-container matColumnDef="tax">
                        <mat-header-cell *matHeaderCellDef> Tax </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                           <mat-checkbox class="example-margin">.</mat-checkbox>
                        </mat-cell>
                     </ng-container>
                     <ng-container matColumnDef="delete">
                        <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                           <button mat-icon-button color="warn">
                              <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
                           </button>
                        </mat-cell>
                     </ng-container>
                     <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                     <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                     </mat-table>
                     <div>
                        <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start" [ngClass.gt-md]="'mt-40'">
                           <div class="widget" fxFlex="100" fxFlex.gt-sm="50" [ngClass.gt-md]="'mr-20'">
                              <mat-form-field class="example-full-width">
                                 <textarea rows="6" cols="40" matInput placeholder="Estimate Notes"></textarea>
                              </mat-form-field>
                              <mat-form-field class="example-full-width">
                                 <textarea rows="6" cols="40" matInput placeholder="Private Notes"></textarea>
                              </mat-form-field>
                           </div>
                           <div class="widget" fxFlex="100" fxFlex.gt-sm="50">
                              <mat-form-field class="example-full-width">
                                 <mat-select placeholder="Tax Rate">
                                    <mat-option *ngFor="let taxrate of taxrates" [value]="taxrate.value">
                                    {{ taxrate.viewValue }}
                                    </mat-option>
                                 </mat-select>
                              </mat-form-field>
                              <table class="simple invoice-table-footer table-border">
                                 <tbody>
                                    <tr class="subtotal">
                                       <td>SUBTOTAL:</td>
                                       <td>$100.00</td>
                                    </tr>
                                    <tr class="tax">
                                       <td>TAX:</td>
                                       <td>$6.50</td>
                                    </tr>
                                    <tr class="total">
                                       <td>TOTAL:</td>
                                       <td>$106.50</td>
                                    </tr>
                                 </tbody>
                              </table>
                              <table class="simple invoice-table-footer">
                                 <tbody>
                                    <tr class="subtotal">
                                       <td>Cost:</td>
                                       <td>$10.00</td>
                                    </tr>
                                    <tr class="tax">
                                       <td>Profit:</td>
                                       <td>$75.00</td>
                                    </tr>
                                    <tr class="tax">
                                       <td>Margin:</td>
                                       <td>75%</td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </mat-tab>
         <mat-tab label="Invoice">
            <div class="widget" fxFlex="100" fxFlex.gt-sm="100">
               <div class="fuse-card auto-width" [ngClass.gt-sm]="'mb-0'">
                  <div class="p-16">
                     <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
                        <div class="widget" fxFlex="100" fxFlex.gt-sm="50">
                           <mat-form-field>
                              <mat-select placeholder="Status">
                                 <mat-option *ngFor="let statu of status" [value]="statu.value">
                                 {{ statu.viewValue }}
                                 </mat-option>
                              </mat-select>
                           </mat-form-field>
                        </div>
                        <div class="widget" fxFlex="100" fxFlex.gt-sm="50">
                           <table class="summary">
                              <tr>
                                 <td class="label">INVOICE #:</td>
                                 <td class="value">123456</td>
                              </tr>
                              <tr>
                                 <td class="label">PO #</td>
                                 <td class="value">
                                    <mat-form-field class="example-full-width">
                                       <input matInput>
                                    </mat-form-field>
                                 </td>
                              </tr>
                              <tr>
                                 <td class="label">Issue Date</td>
                                 <td class="value">
                                    <mat-form-field>
                                       <input matInput [matDatepicker]="issuedate2" [formControl]="date">
                                       <mat-datepicker-toggle matSuffix [for]="issuedate2"></mat-datepicker-toggle>
                                       <mat-datepicker #issuedate2></mat-datepicker>
                                    </mat-form-field>
                                 </td>
                              </tr>
                              <tr>
                                 <td class="label">Due Date</td>
                                 <td class="value">
                                    <mat-form-field>
                                       <input matInput [matDatepicker]="duedate2" [formControl]="date">
                                       <mat-datepicker-toggle matSuffix [for]="duedate2"></mat-datepicker-toggle>
                                       <mat-datepicker #duedate2></mat-datepicker>
                                    </mat-form-field>
                                 </td>
                              </tr>
                           </table>
                        </div>
                     </div>
                     <button mat-raised-button color="primary">Add</button>
                     <mat-table #table [dataSource]="dataSource">
                     <ng-container matColumnDef="approved">
                        <mat-header-cell *matHeaderCellDef> Approved </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                           <mat-checkbox class="example-margin">.</mat-checkbox>
                        </mat-cell>
                     </ng-container>
                     <!-- Name Column -->
                     <ng-container matColumnDef="quantity">
                        <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.quantity}} </mat-cell>
                     </ng-container>
                     <!-- Weight Column -->
                     <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                     </ng-container>
                     <!-- Symbol Column -->
                     <ng-container matColumnDef="description">
                        <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
                     </ng-container>
                     <ng-container matColumnDef="cost">
                        <mat-header-cell *matHeaderCellDef> Cost </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.cost}} </mat-cell>
                     </ng-container>
                     <ng-container matColumnDef="rate">
                        <mat-header-cell *matHeaderCellDef> Rate </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.rate}} </mat-cell>
                     </ng-container>
                     <ng-container matColumnDef="amount">
                        <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
                     </ng-container>
                     <ng-container matColumnDef="tax">
                        <mat-header-cell *matHeaderCellDef> Tax </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                           <mat-checkbox class="example-margin">.</mat-checkbox>
                        </mat-cell>
                     </ng-container>
                     <ng-container matColumnDef="delete">
                        <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                           <button mat-icon-button color="warn">
                              <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
                           </button>
                        </mat-cell>
                     </ng-container>
                     <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                     <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                     </mat-table>
                     <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start" [ngClass.gt-md]="'mt-40'">
                        <div class="widget" fxFlex="100" fxFlex.gt-sm="50" [ngClass.gt-md]="'mr-20'">
                           <mat-form-field class="example-full-width">
                              <textarea rows="6" cols="40" matInput placeholder="Customer"></textarea>
                           </mat-form-field>
                           <mat-form-field class="example-full-width">
                              <textarea rows="6" cols="40" matInput placeholder="Private Notes"></textarea>
                           </mat-form-field>
                        </div>
                        <div class="widget" fxFlex="100" fxFlex.gt-sm="50">
                           <mat-form-field class="example-full-width">
                              <mat-select placeholder="Tax Rate">
                                 <mat-option *ngFor="let taxratedraft of taxratedrafts" [value]="taxratedraft.value">
                                 {{ taxratedraft.viewValue }}
                                 </mat-option>
                              </mat-select>
                           </mat-form-field>
                           <table class="simple invoice-table-footer table-border">
                              <tbody>
                                 <tr class="subtotal">
                                    <td>SUBTOTAL:</td>
                                    <td>$100.00</td>
                                 </tr>
                                 <tr class="tax">
                                    <td>TAX:</td>
                                    <td>$6.50</td>
                                 </tr>
                                 <tr class="total">
                                    <td>TOTAL:</td>
                                    <td>$106.50</td>
                                 </tr>
                              </tbody>
                           </table>
                           <table class="simple invoice-table-footer">
                              <tbody>
                                 <tr class="subtotal">
                                    <td>Paid:</td>
                                    <td>$106.50</td>
                                 </tr>
                                 <tr class="tax">
                                    <td>Balance:</td>
                                    <td>$0.00</td>
                                 </tr>
                                 <tr class="tax">
                                    <td>Due:</td>
                                    <td>$0.00</td>
                                 </tr>
                                 <tr class="tax">
                                    <td>Cost:</td>
                                    <td>$10.00</td>
                                 </tr>
                                 <tr class="tax">
                                    <td>Profit:</td>
                                    <td>75%</td>
                                 </tr>
                              </tbody>
                           </table>
                           <div class="mt-16" style="text-align:right">
                              <button mat-raised-button color="primary">Recieve Payment</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </mat-tab>
         <mat-tab label="Payment">
            <div class="page-layout blank" fusePerfectScrollbar>
               <div class="pb-20">
                  <h3>Recieve Payment</h3>
                  <mat-radio-group>
                     <mat-radio-button name="payment" value="cash" (click)="changeRadio('cash')" checked>Cash</mat-radio-button>
                     <mat-radio-button name="payment" value="online" (click)="changeRadio('online')">Credit</mat-radio-button>
                     <mat-radio-button name="payment" value="net" (click)="changeRadio('net')">Check</mat-radio-button>
                  </mat-radio-group>
               </div>
               <div class="left">
                  <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
                     <div class="widget" fxFlex="100" fxFlex.gt-sm="50">
                        <div class="fuse-card auto-width" [ngClass.gt-sm]="'mb-0 mr-32'">
                           <div class="p-16">
                              <div class="h-330 w-100-p">
                                 <mat-form-field>
                                    <mat-select placeholder="Tax Rate">
                                       <mat-option *ngFor="let taxratedraft of taxratedrafts" [value]="taxratedraft.value">
                                       {{ taxratedraft.viewValue }}
                                       </mat-option>
                                    </mat-select>
                                 </mat-form-field>
                                 <table class="simple invoice-table-footer table-border">
                                    <tbody>
                                       <tr class="subtotal">
                                          <td>SUBTOTAL:</td>
                                          <td>$100.00</td>
                                       </tr>
                                       <tr class="tax">
                                          <td>TAX:</td>
                                          <td>$6.50</td>
                                       </tr>
                                       <tr class="total">
                                          <td>TOTAL:</td>
                                          <td>$106.50</td>
                                       </tr>
                                    </tbody>
                                 </table>
                                 <table class="simple invoice-table-footer">
                                    <tbody>
                                       <tr class="subtotal">
                                          <td>Paid:</td>
                                          <td>$106.50</td>
                                       </tr>
                                       <tr class="tax">
                                          <td>Balance:</td>
                                          <td>$0.00</td>
                                       </tr>
                                       <tr class="tax">
                                          <td>Due:</td>
                                          <td>$0.00</td>
                                       </tr>
                                       <tr class="tax">
                                          <td>Cost:</td>
                                          <td>$10.00</td>
                                       </tr>
                                       <tr class="tax">
                                          <td>Profit:</td>
                                          <td>75%</td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div *ngIf="radioObj == 'cash'" class="widget" fxFlex="100" fxFlex.gt-sm="50">
                        <div class="fuse-card auto-width" [ngClass.gt-sm]="'mb-0'">
                           <div class="p-16 pb-0" fxLayout="row" fxLayoutAlign="start end" fxLayoutWrap>
                              <div class="pr-16">
                                 <div class="h2 secondary-text">Cash Payment</div>
                              </div>
                           </div>
                           <div class="p-16">
                              <div class="h-330 w-100-p">
                                 <form class="example-form">
                                    <mat-form-field>
                                       <input matInput placeholder="Amount">
                                    </mat-form-field>
                                    <mat-form-field>
                                       <input matInput [matDatepicker]="issuedatepay" [formControl]="date">
                                       <mat-datepicker-toggle matSuffix [for]="issuedatepay"></mat-datepicker-toggle>
                                       <mat-datepicker #issuedatepay></mat-datepicker>
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width">
                                       <input matInput placeholder="Memo">
                                    </mat-form-field>
                                 </form>
                                 <button mat-raised-button color="primary">Submit</button>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div *ngIf="radioObj == 'online'" class="widget" fxFlex="100" fxFlex.gt-sm="50">
                        <div class="fuse-card auto-width" [ngClass.gt-sm]="'mb-0'">
                           <div class="p-16 pb-0" fxLayout="row" fxLayoutAlign="start end" fxLayoutWrap>
                              <div class="pr-16">
                                 <div class="h2 secondary-text">Credit Card Payment</div>
                              </div>
                           </div>
                           <div class="p-16">
                              <div class="h-330 w-100-p">
                                 <form class="example-form">
                                    <mat-form-field class="example-full-width">
                                       <input matInput placeholder="Name on Credit Card">
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width">
                                       <input matInput placeholder="Card Number">
                                    </mat-form-field>
                                    <mat-form-field>
                                       <input matInput placeholder="MM/YYYY">
                                    </mat-form-field>
                                    <mat-form-field>
                                       <input matInput placeholder="CVV">
                                    </mat-form-field>
                                    <i class="material-icons">credit_card</i>
                                    <mat-form-field class="example-full-width">
                                       <input matInput placeholder="Address">
                                    </mat-form-field>
                                    <table class="example-full-width" cellspacing="0">
                                       <tr>
                                          <td>
                                             <mat-form-field class="example-full-width">
                                                <input matInput placeholder="City">
                                             </mat-form-field>
                                          </td>
                                          <td>
                                             <mat-form-field class="example-full-width">
                                                <input matInput placeholder="State">
                                             </mat-form-field>
                                          </td>
                                          <td>
                                             <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Zip">
                                             </mat-form-field>
                                          </td>
                                       </tr>
                                    </table>
                                    <mat-form-field>
                                       <input matInput placeholder="Amount">
                                    </mat-form-field>
                                 </form>
                                 <button mat-raised-button color="primary">Submit</button>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div *ngIf="radioObj == 'net'" class="widget" fxFlex="100" fxFlex.gt-sm="50">
                        <div class="fuse-card auto-width" [ngClass.gt-sm]="'mb-0'">
                           <div class="p-16 pb-0" fxLayout="row" fxLayoutAlign="start end" fxLayoutWrap>
                              <div class="pr-16">
                                 <div class="h2 secondary-text">Check Payment</div>
                              </div>
                           </div>
                           <div class="p-16">
                              <div class="h-330 w-100-p">
                                 <form class="example-form">
                                    <mat-form-field>
                                       <input matInput placeholder="Amount">
                                    </mat-form-field>
                                    <mat-form-field>
                                       <input matInput [matDatepicker]="issuedatepay" [formControl]="date">
                                       <mat-datepicker-toggle matSuffix [for]="issuedatepay"></mat-datepicker-toggle>
                                       <mat-datepicker #issuedatepay></mat-datepicker>
                                    </mat-form-field>
                                    <mat-form-field>
                                       <input matInput placeholder="Ref #/Check #">
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width">
                                       <input matInput placeholder="Memo">
                                    </mat-form-field>
                                 </form>
                                 <button mat-raised-button color="primary">Submit</button>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
                     <div class="widget" fxFlex="100" fxFlex.gt-sm="100">
                        <div class="fuse-card auto-width" [ngClass.gt-sm]="'mb-0 mt-20'">
                           <div class="p-16">
                              <mat-table #table [dataSource]="paymentdetails">
                              <ng-container matColumnDef="paymentreceived">
                                 <mat-header-cell *matHeaderCellDef> Payment Received </mat-header-cell>
                                 <mat-cell *matCellDef="let element"> {{element.paymentreceived}} </mat-cell>
                              </ng-container>
                              <!-- Name Column -->
                              <ng-container matColumnDef="invoice">
                                 <mat-header-cell *matHeaderCellDef> Invoice # </mat-header-cell>
                                 <mat-cell *matCellDef="let element"> {{element.invoice}} </mat-cell>
                              </ng-container>
                              <!-- Weight Column -->
                              <ng-container matColumnDef="paymentmethod">
                                 <mat-header-cell *matHeaderCellDef> Payment Method </mat-header-cell>
                                 <mat-cell *matCellDef="let element"> {{element.paymentmethod}} </mat-cell>
                              </ng-container>
                              <!-- Symbol Column -->
                              <ng-container matColumnDef="amount">
                                 <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
                                 <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
                              </ng-container>
                              <ng-container matColumnDef="ref">
                                 <mat-header-cell *matHeaderCellDef> Ref #/Check k# </mat-header-cell>
                                 <mat-cell *matCellDef="let element"> {{element.ref}} </mat-cell>
                              </ng-container>
                              <ng-container matColumnDef="memo">
                                 <mat-header-cell *matHeaderCellDef> Memo </mat-header-cell>
                                 <mat-cell *matCellDef="let element"> {{element.memo}} </mat-cell>
                              </ng-container>
                              <mat-header-row *matHeaderRowDef="paymentColumns"></mat-header-row>
                              <mat-row *matRowDef="let row; columns: paymentColumns;"></mat-row>
                              </mat-table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </mat-tab>
         <mat-tab label="Contract">
            <div class="page-layout blank" fusePerfectScrollbar>
               <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
                  <div class="widget" fxFlex="100" fxFlex.gt-sm="100">
                     <div class="fuse-card auto-width" [ngClass.gt-sm]="'mb-0 mt-20'">
                        <div class="p-16">
                           <mat-slide-toggle>Status</mat-slide-toggle>
                           <br>
                           <br>
                           <mat-radio-group class="example-radio-group">
                              <mat-radio-button class="example-radio-button" value="1">Charge Credit Card Automatically</mat-radio-button>
                              <mat-form-field>
                                 <mat-radio-button class="example-radio-button" value="2">Send Invoice to</mat-radio-button>
                                 <mat-select class="mt-8 ml-4">
                                    <mat-option value="option1" selected>Select from customer contact list</mat-option>
                                    <mat-option value="2">Envy Lisy</mat-option>
                                 </mat-select>
                              </mat-form-field>
                           </mat-radio-group>
                           <h3 class="ml-160">Due
                              <span class="p-4" style="border:1px solid #000000;">10</span> after invoice date
                           </h3>
                           <br>
                           <!--<mat-form-field>
                              <span>Due</span>  <input matInput value="10"> <span>after invoice date</span>
                              </mat-form-field>-->
                           <h3>Reoccurance</h3>
                           <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
                              <div class="widget" fxFlex="100" fxFlex.gt-sm="20">
                                 <mat-form-field>
                                    <input matInput [matDatepicker]="issuedate" [formControl]="date">
                                    <mat-datepicker-toggle matSuffix [for]="issuedate"></mat-datepicker-toggle>
                                    <mat-datepicker #issuedate></mat-datepicker>
                                 </mat-form-field>
                              </div>
                              <div class="widget" fxFlex="100" fxFlex.gt-sm="50">
                                 <mat-radio-group class="example-radio-group">
                                    <mat-radio-button class="example-radio-group mb-20" value="11">No End Date</mat-radio-button>
                                    <mat-radio-button class="example-radio-group mb-20" value="22">End after
                                       <span class="p-4" style="border:1px solid #000000;">10</span> occurance
                                    </mat-radio-button>
                                    <mat-radio-button class="example-radio-group mb-20" value="33">
                                       No End Date
                                       <mat-form-field class="ml-8">
                                          <input matInput [matDatepicker]="enddate" [formControl]="date">
                                          <mat-datepicker-toggle matSuffix [for]="enddate"></mat-datepicker-toggle>
                                          <mat-datepicker #enddate></mat-datepicker>
                                       </mat-form-field>
                                    </mat-radio-button>
                                 </mat-radio-group>
                              </div>
                           </div>
                           <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
                              <div class="widget" fxFlex="100" fxFlex.gt-sm="20">
                                 <h3 class="mt-0 pt-0">Schedule Reoccurance</h3>
                              </div>
                              <div class="widget" fxFlex="100" fxFlex.gt-sm="20">
                                 <mat-radio-group class="example-radio-group">
                                    <mat-radio-button class="example-radio-group mb-20" value="44">Daily</mat-radio-button>
                                    <mat-radio-button class="example-radio-group mb-20" value="55">Weekly</mat-radio-button>
                                    <mat-radio-button class="example-radio-group mb-20" value="66">Monthly</mat-radio-button>
                                 </mat-radio-group>
                              </div>
                              <div class="widget" fxFlex="100" fxFlex.gt-sm="30">
                                 <h3 class="mt-0 pt-0">Reoccurance every
                                    <span class="p-4" style="border:1px solid #000000;">10</span> week(s) on.
                                 </h3>
                                 <section class="example-section">
                                    <mat-checkbox class="example-margin mb-20">Sunday</mat-checkbox>
                                    <mat-checkbox class="example-margin mb-20">Monday</mat-checkbox>
                                    <mat-checkbox class="example-margin mb-20">Tuesday</mat-checkbox>
                                    <mat-checkbox class="example-margin mb-20">Wednesday</mat-checkbox>
                                    <mat-checkbox class="example-margin mb-20">Thursday</mat-checkbox>
                                    <mat-checkbox class="example-margin mb-20">Friday</mat-checkbox>
                                    <mat-checkbox class="example-margin mb-20">Saturday</mat-checkbox>
                                 </section>
                              </div>
                           </div>
                           <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
                              <div class="widget" fxFlex="100" fxFlex.gt-sm="20">
                                 <h3 class="mt-0 pt-0">Invoice Reoccurance</h3>
                              </div>
                              <div class="widget" fxFlex="100" fxFlex.gt-sm="20">
                                 <mat-radio-group class="example-radio-group">
                                    <mat-radio-button class="example-radio-group mb-20" value="77">Weekly</mat-radio-button>
                                    <mat-radio-button class="example-radio-group mb-20" value="88">Monthly</mat-radio-button>
                                 </mat-radio-group>
                              </div>
                              <div class="widget" fxFlex="100" fxFlex.gt-sm="30">
                                 <mat-radio-group class="example-radio-group">
                                    <mat-radio-button class="example-radio-group mb-20" value="99">Day
                                       <span class="p-4" style="border:1px solid #000000;">10</span> of every
                                       <span class="p-4" style="border:1px solid #000000;">10</span> months(s).
                                    </mat-radio-button>
                                    <mat-radio-button class="example-radio-group mb-20" value="01">The of every
                                       <span class="p-4" style="border:1px solid #000000;">10</span> months(s).
                                    </mat-radio-button>
                                 </mat-radio-group>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
                  <div class="widget" fxFlex="100" fxFlex.gt-sm="100">
                     <div class="fuse-card auto-width" [ngClass.gt-sm]="'mb-0 mt-20'">
                        <div class="p-16 pb-0" fxLayout="row" fxLayoutAlign="start end" fxLayoutWrap>
                           <div class="pr-16">
                              <div class="h2 secondary-text">Pending Appointment Schdule</div>
                           </div>
                        </div>
                        <div class="p-16">
                           <mat-table #table [dataSource]="pendingappschdule">
                           <ng-container matColumnDef="date">
                              <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
                           </ng-container>
                           <!-- Name Column -->
                           <ng-container matColumnDef="time">
                              <mat-header-cell *matHeaderCellDef> Time </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.time}} </mat-cell>
                           </ng-container>
                           <!-- Weight Column -->
                           <ng-container matColumnDef="assignee">
                              <mat-header-cell *matHeaderCellDef> Assignee </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.assignee}} </mat-cell>
                           </ng-container>
                           <!-- Symbol Column -->
                           <ng-container matColumnDef="job">
                              <mat-header-cell *matHeaderCellDef> Job # </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.job}} </mat-cell>
                           </ng-container>
                           <mat-header-row *matHeaderRowDef="pendingschColumns"></mat-header-row>
                           <mat-row *matRowDef="let row; columns: pendingschColumns;"></mat-row>
                           </mat-table>
                        </div>
                     </div>
                  </div>
               </div>
               <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
                  <div class="widget" fxFlex="100" fxFlex.gt-sm="100">
                     <div class="fuse-card auto-width" [ngClass.gt-sm]="'mb-0 mt-20'">
                        <div class="p-16 pb-0" fxLayout="row" fxLayoutAlign="start end" fxLayoutWrap>
                           <div class="pr-16">
                              <div class="h2 secondary-text">Invoice Schedule</div>
                           </div>
                        </div>
                        <div class="p-16">
                           <mat-table #table [dataSource]="invoicedata">
                           <ng-container matColumnDef="date">
                              <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
                           </ng-container>
                           <!-- Name Column -->
                           <ng-container matColumnDef="period">
                              <mat-header-cell *matHeaderCellDef> Period </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.period}} </mat-cell>
                           </ng-container>
                           <!-- Weight Column -->
                           <ng-container matColumnDef="sentto">
                              <mat-header-cell *matHeaderCellDef> Sent to </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.sentto}} </mat-cell>
                           </ng-container>
                           <!-- Symbol Column -->
                           <ng-container matColumnDef="payment">
                              <mat-header-cell *matHeaderCellDef> Payment </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.payment}} </mat-cell>
                           </ng-container>
                           <ng-container matColumnDef="invoice">
                              <mat-header-cell *matHeaderCellDef> Invoice # </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.invoice}} </mat-cell>
                           </ng-container>
                           <mat-header-row *matHeaderRowDef="invoicedataColumns"></mat-header-row>
                           <mat-row *matRowDef="let row; columns: invoicedataColumns;"></mat-row>
                           </mat-table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </mat-tab>
         <mat-tab label="Log">
            <div fxFlex="100" fxFlex.gt-sm="100">
               <div class="fuse-card auto-width" [ngClass.gt-sm]="'mb-0'">
                  <div class="p-16">
                     <form class="example-form">
                        <mat-form-field>
                           <mat-select placeholder="Status">
                              <mat-option *ngFor="let statu of status" [value]="statu.value">
                              {{ statu.viewValue }}
                              </mat-option>
                           </mat-select>
                        </mat-form-field>
                     </form>
                     <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Work Notes">Work Notes</textarea>
                     </mat-form-field>
                     <div>
                        <div>
                           <h2>Activity</h2>
                        </div>
                        <div style="clear:both"></div>
                        <div class="info p-20 mb-20" style="border:1px solid #eeeeee">
                           <div class="row-1" fxLayout="row" fxLayoutAlign="start center">
                              <div class="name" fxLayout="row" fxLayoutAlign="start center" fxFlex>
                                 <img class="avatar" src="../../../../assets/images/avatars/profile.jpg" />
                                 <span class="text-truncate">Tom Smith</span>
                              </div>
                              <div fxLayout="row" fxLayoutAlign="start center">
                                 <div class="time">03-02-2018 12:01:25</div>
                              </div>
                           </div>
                           <div class="row-2" fxLayout="row" fxLayoutAlign="start center">
                              <div fxLayout="column" fxLayoutAlign="start start">
                                 <div class="message text-truncate mt-20">
                                    Went to cusomer lcoation and could not remove old piping, will re-schdule once I have the right tools
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="info p-20 mb-20" style="border:1px solid #eeeeee">
                           <div class="row-1" fxLayout="row" fxLayoutAlign="start center">
                              <div class="name" fxLayout="row" fxLayoutAlign="start center" fxFlex>
                                 <i class="material-icons">desktop_mac</i>
                                 <span class="text-truncate ml-20">System</span>
                              </div>
                              <div fxLayout="row" fxLayoutAlign="start center">
                                 <div class="time">03-02-2018 12:01:25</div>
                              </div>
                           </div>
                           <div class="row-2 mt-20" fxLayout="row" fxLayoutAlign="start center">
                              <div class="ml-60" fxLayout="column" fxLayoutAlign="start start">
                                 <div class="message text-truncate mt-10">
                                    Email sent
                                 </div>
                                 <div class="message text-truncate mt-10">
                                    Subject: Ticket 1234 has been assigned to you
                                 </div>
                                 <div class="message text-truncate mt-10">
                                    To: Jason@gmail.com
                                 </div>
                                 <a href="" class="mt-20">Display email</a>
                              </div>
                           </div>
                        </div>
                        <div class="info p-20 mb-20" style="border:1px solid #eeeeee">
                           <div class="row-1" fxLayout="row" fxLayoutAlign="start center">
                              <div class="name" fxLayout="row" fxLayoutAlign="start center" fxFlex>
                                 <img class="avatar" src="../../../../assets/images/avatars/profile.jpg" />
                                 <span class="text-truncate">Tom Smith</span>
                              </div>
                              <div fxLayout="row" fxLayoutAlign="start center">
                                 <div class="time">03-02-2018 12:01:25</div>
                              </div>
                           </div>
                           <div class="row-2" fxLayout="row" fxLayoutAlign="start center">
                              <div fxLayout="column" fxLayoutAlign="start start">
                                 <div class="message text-truncate mt-20">
                                    Ticket 1234 closed by jason@gmail.com
                                 </div>
                                 <div class="message text-truncate mt-20">
                                    Went back onsite and replaced all pipes, all tested good
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </mat-tab>
      </mat-tab-group>
      </fuse-widget>
   </div>
</div>