@import "src/app/core/scss/fuse";

:host {

    .fuse-search-bar {
        min-width: 64px;
        height: 50px;
        font-size: 13px;

        @include media-breakpoint-down('sm') {
            height: 56px;
        }

        .fuse-search-bar-expander,
        .fuse-search-bar-collapser {
            cursor: pointer;
            padding: 0 20px;
            margin: 0;
            width: 64px !important;
            height: 50px !important;
            line-height: 50px !important;

            @include media-breakpoint-down('sm') {
                height: 56px !important;
                line-height: 56px !important;
            }
        }

        .fuse-search-bar-loader {
            width: 64px !important;
            height: 50px !important;
            line-height: 50px !important;
            @include media-breakpoint-down('sm') {
                height: 56px !important;
                line-height: 56px !important;
            }
        }

        .fuse-search-bar-collapser {
            display: none;
        }

        #fuse-search-bar-input {
            display: none;
            min-height: 50px;
            background-color: transparent;
            font-size: 16px;
        }

        &.expanded {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 10;

            #fuse-search-bar-input {
                display: block;
            }

            .fuse-search-bar-collapser {
                display: block;
            }
        }
            .toolbar-separator {
        height: 50px;
        width: 1px;
        background: rgba(0, 0, 0, .12);

        @include media-breakpoint-down('xs') {
            height: 56px;
        }
    }
    }

    body {

        &.fuse-search-bar-expanded {

            #toolbar {
                z-index: 999 !important;
            }
        }
    }
}
