<div class="page-layout blank p-24" fusePerfectScrollbar>
  <div class="widget" fxFlex="100" fxFlex.gt-sm="100">
    <div class="fuse-card auto-width" [ngClass.gt-sm]="'mb-0'">
      <div class="p-16">
        <form name="" class="event-form w-100-p" #form="ngForm"  fxLayout="column" novalidate="false" fxFlex>
          <div class="h2 secondary-text mb-16" fxLayout="column" fxLayout.gt-xs="row">My Profile</div>
          <mat-form-field>
            <mat-select placeholder="Role"  [(ngModel)]="user.role" [ngModelOptions]="{standalone: true}" >
              <mat-option value="1">Administrator</mat-option>
              <mat-option value="Admin">Admin</mat-option>
              <mat-option value="User">User</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="py-16" fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row">
            <mat-form-field class="mr-sm-24" fxFlex>
              <input matInput placeholder="First Name" [(ngModel)]="user.first_name" [ngModelOptions]="{standalone: true}" required>
            </mat-form-field>
            <mat-form-field fxFlex>
              <input matInput placeholder="Last Name" [(ngModel)]="user.last_name" [ngModelOptions]="{standalone: true}"required>
            </mat-form-field>
          </div>
          <div class="py-16" fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row">
            <mat-form-field class="mr-sm-24" fxFlex>
              <input matInput placeholder="Email" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}" required>
            </mat-form-field>
            <mat-form-field fxFlex>
              <input matInput placeholder="Contact Number" [(ngModel)]="user.phone" [ngModelOptions]="{standalone: true}" required>
            </mat-form-field>
          </div>
          <div class="py-16" fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row">
            <mat-form-field class="mr-sm-24" fxFlex>
              <input matInput placeholder="Current Password" type="password" [(ngModel)]="user.current_password" [ngModelOptions]="{standalone: true}" required>
            </mat-form-field>
            <mat-form-field fxFlex>
              <input matInput placeholder="New Password" type="password" [(ngModel)]="user.passwordVal" [ngModelOptions]="{standalone: true}" required>
            </mat-form-field>
            <mat-form-field fxFlex>
              <input matInput placeholder="Confirm New Password" type="password" [(ngModel)]="user.confirm_password" [ngModelOptions]="{standalone: true}" required>
            </mat-form-field>
          </div>
        </form>
      </div>
    </div>
    <div class="mt-16" style="text-align:center"> 
      <button mat-raised-button color="primary" (click)="update(user)" [disabled]="!form.valid" >Update</button>
    </div>
  </div>
</div>
