@import "src/app/core/scss/fuse";

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 1000px;
  min-width: 100%;
  padding: 10px;
}

.mat-table {
  overflow: auto;
  max-height: 1000px;
}