<div *ngIf="showLogin" id="login" fxLayout="column" fusePerfectScrollbar>

  <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

    <div id="login-form" *fuseIfOnDom [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">


      <div class="title">
        <b>Sign in to Service Provider</b>
        <h3 style="color:red"> {{errorResponse}} </h3>
      </div>

      <form name="loginForm" [formGroup]="loginForm" novalidate>

        <mat-form-field>
          <input matInput placeholder="Email Address" formControlName="email" [(ngModel)]="user.email">
          <mat-error *ngIf="loginFormErrors.email.required">
            Email is required
          </mat-error>
          <mat-error *ngIf="!loginFormErrors.email.required && loginFormErrors.email.email">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="Password" formControlName="password" [(ngModel)]="user.password">
          <mat-error *ngIf="loginFormErrors.password.required">
            Password is required
          </mat-error>
        </mat-form-field>

        <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
          <mat-checkbox class="remember-me" aria-label="Remember Me">
            Remember Me
          </mat-checkbox>

          <a class="forgot-password" [routerLink]="'/forget-password'">
            Forgot Password?
          </a>
        </div>

        <button mat-raised-button color="accent" class="submit-button" (click)="loginFn(user)" aria-label="SIGN IN" [disabled]="!user.email || !user.password ">
          LOGIN
        </button>

      </form>


      <!-- <div *ngIf="1==2" class="register" fxLayout="column" fxLayoutAlign="center center">
        <span class="text">Don't have an account?</span>
        <a class="link">Create an account</a>
      </div> -->

    </div>

  </div>

</div>
