<mat-toolbar class="p-0 mat-elevation-z1">
   <mat-progress-bar *ngIf="showLoadingBar" class="loading-bar" color="accent" mode="indeterminate"></mat-progress-bar>
   <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
         <button mat-button class="toggle-button-navbar mat-icon-button" fuseNavbarVertical="toggleBar" fxHide.gt-md>
            <mat-icon>menu</mat-icon>
         </button>
         <div class="toolbar-separator" fxHide.gt-md></div>
         <div fxLayout="row" fxLayoutAlign="start center" *ngIf="horizontalNav">
            <div class="logo ml-16">
               <img class="logo-icon" src="assets/images/logos/logo.png">
            </div>
         </div>
      </div>
      <div class="" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">
         <div class="toolbar-separator"></div>
         <fuse-search-bar  on-search="this.search(query)"></fuse-search-bar>
         <!-- (keyup)="search($event)" -->
         <!-- <mat-form-field>
            <input type="text" placeholder="Assignee" aria-label="Assignee" matInput (keyup)="search($event)" [(ngModel)]="searchBarValue" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of resData " [value]="option.first_name">
                <div (click)="clickFn(option)" mat-icon-button>{{ option.first_name }}</div>
              </mat-option>
            </mat-autocomplete>
            </mat-form-field> -->
         <!-- <button mat-button [matMenuTriggerFor]="addMenu" class="user-button">
            <div fxLayout="row" fxLayoutAlign="center center">
              <mat-icon>add</mat-icon>
            </div>
            </button>
            <mat-menu #addMenu="matMenu" [overlapTrigger]="false">
            <button mat-menu-item>
            
              <span>Add Customer</span>
            </button>
            </mat-menu> -->
         <button (click)="addCustomerComponent()" mat-button class="user-button">
            <div fxLayout="row" fxLayoutAlign="center center">
               <mat-icon>add</mat-icon>
            </div>
         </button>
         <div class="toolbar-separator"></div>
         <button mat-button class="user-button">
            <div fxLayout="row" fxLayoutAlign="center center">
               <i class="material-icons">settings</i>
            </div>
         </button>
         <div class="toolbar-separator"></div>
         <button mat-button [matMenuTriggerFor]="userMenu"
            class="user-button">
            <div fxLayout="row" fxLayoutAlign="center center">
               <img class="avatar" src="assets/images/avatars/profile.jpg">
               <span class="username mr-12" fxHide fxShow.gt-sm>{{name}}</span>
               <mat-icon class="s-16" fxHide.xs>keyboard_arrow_down</mat-icon>
            </div>
         </button>
         <mat-menu #userMenu="matMenu" [overlapTrigger]="false">
         <button mat-menu-item (click)="myProfile()">
            <mat-icon>account_circle</mat-icon>
            <span>My Profile</span>
         </button>
         <button mat-menu-item class="" (click)="logoutFn()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
         </button>
         </mat-menu>
      </div>
   </div>
</mat-toolbar>