<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Edit Service</span>
            <button mat-button mat-dialog-close class="mat-icon-button">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>

        <form name="" class="event-form w-100-p" fxLayout="column" fxFlex>

            <h4 *ngIf="showErrorMessage"> {{errorMessage}}</h4>

          <div class="py-16" fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row" >

                <mat-form-field class="mr-sm-24" fxFlex>
                    
                          <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="service.first_name" placeholder="First Name" value="Jason">
                      
                </mat-form-field>

                <mat-form-field fxFlex>
                    <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="service.last_name" placeholder="Last Name" value="Levy">
                </mat-form-field>

            </div>

              <mat-form-field class="w-100-p">
              <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="service.email" placeholder="Email" value="bill@gmail.com" readonly>
            </mat-form-field>

              <div class="py-16" fxFlex="1 0 auto" fxLayout="column"  fxLayout.gt-xs="row" >

                <mat-form-field class="mr-sm-24" fxFlex>
                    
                          <input [ngModelOptions]="{standalone: true}" [(ngModel)]="service.phone" matInput placeholder="Cell Phone" value="888-888-8888">
                      
                </mat-form-field>

                <mat-form-field fxFlex>
                    <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="service.altphone" placeholder="Alt Phone" value="888-888-8888">
                </mat-form-field>

            </div>

                <mat-form-field class="w-100-p">
              <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="service.address1" placeholder="Address 1" value="Plum Amphitheatre">
            </mat-form-field>

                <mat-form-field class="w-100-p">
              <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="service.address2" placeholder="Address 2" value="Pkwy">
            </mat-form-field>

             <div class="py-16" fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row" >

                <mat-form-field class="mr-sm-24" fxFlex>
                    
                          <input matInput [(ngModel)]="service.city" [ngModelOptions]="{standalone: true}" placeholder="City" value="Sarasota">
                      
                </mat-form-field>

                <mat-form-field class="mr-sm-24" fxFlex>
                    <input matInput [(ngModel)]="service.state" [ngModelOptions]="{standalone: true}" placeholder="State" value="FL">
                </mat-form-field>
                <mat-form-field fxFlex>
                    <input matInput [(ngModel)]="service.zip" [ngModelOptions]="{standalone: true}" placeholder="Zip" value="33125">
                </mat-form-field>

            </div>

               <div class="py-16" fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row" >

                <mat-form-field class="mr-sm-24" fxFlex>
                    
                          <mat-select [(ngModel)]="service.saletax" [ngModelOptions]="{standalone: true}" placeholder="Sales Tax">
                        <mat-option value="1">Option 1</mat-option>
                      <mat-option value="2">Option 2</mat-option>
                      </mat-select>
                      
                </mat-form-field>

  

            </div>


        </form>

    </div>

<div mat-dialog-actions class="m-0 pl-248 pr-248 dialog-buttons" fxLayout="row" fxLayoutAlign="space-between center">

    <button mat-raised-button  (click)="submitfn(service)" class="save-button mat-accent">

        <!-- <button mat-raised-button [mat-dialog-close]="service" (click)="submitfn(service)" class="save-button mat-accent"> -->
            Save Service Location
        </button>
    </div>
</div>
