<mat-toolbar>
   <div class="right mt-12" style="text-align:left;float:left;">
      <div>
         <a mat-button class="mat-blue-bg mr-20">
            <mat-icon class="s-16 mr-sm-4">local_printshop</mat-icon>
            <span>Print</span>
         </a>
         <a mat-button class="mat-blue-bg mr-20">
            <mat-icon class="s-16 mr-sm-4">email</mat-icon>
            <span>Email</span>
         </a>
         <a mat-button class="mat-blue-bg mr-20">
            <mat-icon class="s-16 mr-sm-4">insert_drive_file</mat-icon>
            <span>PDF</span>
         </a>
      </div>
   </div>
   <div class="right mt-12" style="text-align:right">
      <div>
         <a mat-button class="mat-blue-bg mr-20">
            <span>Cancel</span>
         </a>
         <a mat-button class="mat-blue-bg mr-20">
            <span>Create Work Order</span>
         </a>
         <a mat-button class="mat-blue-bg mr-20">
            <span>Save</span>
         </a>
      </div>
   </div>
</mat-toolbar>