<div class="dialog-content-wrapper">
  <mat-toolbar matDialogTitle class="mat-accent m-0">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">Add Customer</span>
      <button mat-button mat-dialog-close class="mat-icon-button">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>

    <form name="customerForm" #form="ngForm" class="event-form w-100-p" fxLayout="column" fxFlex>
      <div > {{errorMessage}} </div>

      <div class="py-16" fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row">

        <mat-form-field class="mr-sm-24" fxFlex>

          <input matInput placeholder="First Name" name="first_name" [(ngModel)]="customer.first_name" required>
          <!-- <div *ngIf="firstnameFlag" >invalid feild</div> -->
        </mat-form-field>

        <mat-form-field fxFlex>
          <input matInput placeholder="Last Name" name="last_name" [(ngModel)]="customer.last_name" required>
        </mat-form-field>

      </div>

      <mat-form-field class="w-100-p">
        <input matInput placeholder="Email" type="email" required pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" name="email" [(ngModel)]="customer.email">
      </mat-form-field>

      <div class="py-16" fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row">

        <mat-form-field class="mr-sm-24" fxFlex>

          <input matInput placeholder="Cell Phone" required min=10 max="10" type="text" name="phone" [(ngModel)]="customer.phone">

        </mat-form-field>

        <mat-form-field fxFlex>
          <input matInput placeholder="Alt Phone" type="text" min=10 max="10" name="altphone" [(ngModel)]="customer.altphone">
        </mat-form-field>

      </div>

      <mat-form-field class="w-100-p">
        <input matInput placeholder="Address 1" name="address1" [(ngModel)]="customer.address1" required>
      </mat-form-field>

      <mat-form-field class="w-100-p">
        <input matInput placeholder="Address 2" name="address2" [(ngModel)]="customer.address2">
      </mat-form-field>

      <div class="py-16" fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row">

        <mat-form-field class="mr-sm-24" fxFlex>

          <input matInput placeholder="City" name="city" [(ngModel)]="customer.city" required>

        </mat-form-field>

        <mat-form-field class="mr-sm-24" fxFlex>
          <input matInput placeholder="State" name="state" [(ngModel)]="customer.state" required>
        </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput placeholder="Zip" name="zip" type="text" [(ngModel)]="customer.zip" required>
        </mat-form-field>

      </div>

      <div class="py-16" fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row">

        <mat-form-field class="mr-sm-24" fxFlex>

          <mat-select placeholder="Sales Tax" name="tax" [(ngModel)]="customer.tax" required>
            <mat-option value="1">Option 1</mat-option>
            <mat-option value="2">Option 2</mat-option>
          </mat-select>

        </mat-form-field>

        <mat-form-field class="mr-sm-24" fxFlex>
          <mat-select placeholder="Terms" name="terms" [(ngModel)]="customer.terms" required>
            <mat-option value="1">Option 1</mat-option>
            <mat-option value="2">Option 2</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex>
          <mat-select placeholder="Customer Type" name="type" [(ngModel)]="customer.type" required>
            <mat-option value="1">Option 1</mat-option>
            <mat-option value="2">Option 2</mat-option>
          </mat-select>
        </mat-form-field>

      </div>


    </form>

  </div>

  <div mat-dialog-actions class="m-0 pl-148 pr-148 dialog-buttons" fxLayout="row" fxLayoutAlign="space-between center">

    <button mat-raised-button [disabled]="!form.valid" class="save-button mat-accent" (click)="addCustomer(customer)">
      Add Customer
    </button>
 
    <!-- <button *ngIf="showWorkOrder" mat-raised-button class="save-button mat-accent" [disabled]="!form.valid" (click)="workOrder(customer)">
      Create Work Order
    </button> -->
  </div>
</div>
