<div fxLayout="row" fxLayoutAlign="start center">

    <mat-icon class="handle mr-16" ngxDragHandle fxFlex="0 1 auto" fxHide.xs>
        drag_handle
    </mat-icon>

    <mat-checkbox [(ngModel)]="selected" (ngModelChange)="onSelectedChange()"
                  class="mr-16" fxFlex="0 1 auto" (click)="$event.stopPropagation()">
    </mat-checkbox>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex>

        <div class="info" fxFlex fxFlexLayout="column">

            <div class="title">
                {{todo.short_description}} {{todo.date_created}}
            </div>

            <div class="notes">
                {{todo.description}}
            </div>

            <div class="tags" fxLayout="row" fxLayoutAlign="start center" fxLayoutWrap>

                <div class="tag" fxLayout="row" fxLayoutAlign="start center" *ngFor="let tagId of todo.tags">
                    <div class="tag-color" [ngStyle]="{'background-color': tags | getById:tagId:'color'}"></div>
                    <div class="tag-label">{{tags | getById:tagId:'title'}}</div>
                </div>

            </div>

        </div>

        <div class="actions" fxLayout="row" fxLayoutAlign="start center">       
            <button mat-button class="mat-icon-button" (click)="toggleStar($event)"
                    aria-label="Toggle star" fxHide.xs>
                <mat-icon *ngIf="todo.starred">star</mat-icon>
                <mat-icon *ngIf="!todo.starred">star_outline</mat-icon>
            </button>
        </div>
    </div>
</div>
