
@import "src/app/core/scss/fuse";


.drop-zone[_ngcontent-c26] {
    border: 2px dotted #eeeeee !important;
}
#dashboard-project {


.tab-custom .mat-tab-header {
    background: #039be5 !important;
}
.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px 5px 10px 5px;

}

.example-selected-value {
  margin: 15px 0;
}
fuse-widget{padding:0;}
    .example-full-width {
    width: 100%;
}
.example-radio-group {
    display: inline-flex;
    flex-direction: column;
}

.example-radio-button {
    margin: 5px;
}

.example-selected-value {
    margin: 15px 0;
}

   .content {
        display: flex;
        flex: 1 1 auto;
        padding: 20px;
        min-width: 0;



        .left {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            min-width: 0;

            .widget {
                flex: 1 1 auto;
                min-width: 0;
            }
        }

        .right {
            display: flex;
            flex: 0 0 auto;
            width: 320px;
            min-width: 320px;
            max-width: 320px;

      
        }
    }
    
    .table-border{ border: 1px solid #848484;padding: 10px;}

      .content {
          
          .info {

            .name {
                font-weight: 700;
            }

            .row-2 {

                .subject {
                    font-weight: 400;
                    margin-top: 10px;
                }

                .labels {
                    background: #FFFFFF;
                }
            }
        }

                        .invoice-table {
                            margin-top: 96px;
                            font-size: 15px;

                            .title {
                                font-size: 17px;
                            }

                            .detail {
                                margin-top: 8px;
                                font-size: 12px;
                                color: rgba(0, 0, 0, 0.54);
                                max-width: 360px;
                            }
                        }
                            .summary {
                            font-size: 15px;

                            .label {
                                color: rgba(0, 0, 0, 0.54);
                                text-align: left;
                                padding-right: 16px;
                            }

                            .value {
                                color: rgba(0, 0, 0, 1);
                            }

                            .code {
                                font-size: 35px;
                                font-weight: 300;

                                td {
                                    padding-bottom: 32px;
                                }
                            }
                        }

                        .invoice-table-footer {
                            margin: 0;

                            tr {

                                td {
                                    text-align: right;
                                    font-size: 17px;
                                    font-weight: 500;
                                    color: rgba(0, 0, 0, 0.54);
                                    border-bottom: none;
                                    padding: 8px 8px;

                                    &:first-child {
                                        text-align: left;
                                    }
                                }

                                &.discount {

                                    td {
                                        padding-bottom: 32px;
                                    }
                                }

                                &.total {

                                    td {
                                        padding: 9px 8px;
                                        border-top: 1px solid rgba(0, 0, 0, 0.12);
                                        font-size: 18px;
                                        font-weight: 500;
                                        color: rgba(0, 0, 0, 1);
                                    }
                                }
                            }
                        }
                    }

.mat-select {
    height: 30px;
}
    mat-sidenav-container {
        .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}



        .mat-drawer-content,
        .mat-sidenav-content {
            flex: 1 1 100%;
        }

        .center {

            > .header {
                height: 160px;
                min-height: 160px;
                max-height: 160px;

                .selected-project {
                    background: rgba(0, 0, 0, 0.12);
                    color: #FFFFFF;
                    padding: 8px 16px;
                    height: 40px;
                    line-height: 24px;
                    font-size: 16px;
                }

                .project-selector {
                    margin-left: 1px;
                    border-radius: 0;
                    background: rgba(0, 0, 0, 0.12);

                    mat-icon {
                        color: #FFFFFF;
                    }
                }
            }

            > .content {
                flex: 1;

                mat-tab-group {
                    height: 100%;

                    .mat-tab-body-wrapper {
                        flex-grow: 1;
                    }
                }

                .mat-tab-label-container {
                    padding: 0 24px;
                }
            }
        }

        .sidenav {
            width: 250px !important;
            min-width: 250px !important;
            max-width: 250px !important;
        }

        .widget {

            &.widget5 {

                .gridline-path.gridline-path-horizontal {
                    display: none;
                }
            }
        }
    }
}
