<!-- <div id="dashboard-project" class="page-layout blank grey-100-bg" fusePerfectScrollbar>
  <div class="content" style="padding-bottom:0;">
    <div class="left">
           <h2>Customer Detail</h2>
      <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
          <h4 *ngIf="showErrorMessage"> {{errorMessage}}</h4>

        
        <div class="widget" fxFlex="100" fxFlex.gt-sm="50">
          <div class="fuse-card auto-width" [ngClass.gt-sm]="'mb-0 mr-32'">
            <div class="p-8 pb-0" fxLayout="row" fxLayoutAlign="start end" fxLayoutWrap>
              <div class="pr-8">
                <div class="h2 secondary-text" fxLayout="column" fxLayout.gt-xs="row">Customer Contact</div>

              </div>
            </div>
            <div class="p-8">
              <div class="h-80 w-100-p">
                <form class="example-form">
                 
                    <mat-form-field class="example-full-width">
                          <input matInput placeholder="Name" [(ngModel)]="customer.name" [ngModelOptions]="{standalone: true}" > 
                        </mat-form-field>
                
                  <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Address" [(ngModel)]="customer.address" [ngModelOptions]="{standalone: true}"> </textarea>
                  </mat-form-field>
                  <table class="example-full-width" cellspacing="0">
                    <tr>
                      <td>
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="City"   [(ngModel)]="customer.city" [ngModelOptions]="{standalone: true}">
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="State"  [(ngModel)]="customer.state" [ngModelOptions]="{standalone: true}">
                        </mat-form-field>
                      </td>
                    </tr>
                  </table>
                  <table class="example-full-width" cellspacing="0">
                    <tr>
                      <td>
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Email"  [(ngModel)]="customer.email" [ngModelOptions]="{standalone: true}" >
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Phone"  [(ngModel)]="customer.phone" [ngModelOptions]="{standalone: true}" >
                        </mat-form-field>
                      </td>
                    </tr>
                  </table>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="widget" fxFlex="100" fxFlex.gt-sm="50">
          <div class="fuse-card auto-width" [ngClass.gt-sm]="'mb-0'">
            <div class="p-8 pb-0" fxLayout="row" fxLayoutAlign="start end" fxLayoutWrap>
              <div class="pr-8">
                <div class="h2 secondary-text" fxLayout="column" fxLayout.gt-xs="row" >Service Location</div>

               
              </div>
            </div>
            <div class="p-8">
              <div class="h-280 w-100-p">
                <form class="example-form">
                  <mat-form-field>
                    <mat-select placeholder="Contact" [(ngModel)]="serviceId" name="serviceId" (change)="getServiceData(serviceId)">
                      <mat-option *ngFor="let serviceCustomer of serviceData"   [value]="serviceCustomer.id" >
                        {{ serviceCustomer.first_name }} {{ serviceCustomer.last_name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Address" [(ngModel)]="service.address" [ngModelOptions]="{standalone: true}"></textarea>
                  </mat-form-field>
                  <table class="example-full-width" cellspacing="0">
                    <tr>
                      <td>
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="City"  [(ngModel)]="service.city" [ngModelOptions]="{standalone: true}" >
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="State"  [(ngModel)]="service.state" [ngModelOptions]="{standalone: true}">
                        </mat-form-field>
                      </td>
                    </tr>
                  </table>
                  <table class="example-full-width" cellspacing="0">
                    <tr>
                      <td>
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Email" [(ngModel)]="service.email" [ngModelOptions]="{standalone: true}" >
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Phone" [(ngModel)]="service.phone" [ngModelOptions]="{standalone: true}" >
                        </mat-form-field>
                      </td>
                    </tr>
                  </table>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

       <div class="mt-16" style="text-align:center">
                   <button mat-raised-button color="primary"  (click)="createWorkOrder(customer)">Create Work Order</button>
                   <button mat-raised-button color="primary" (click)="getCustomerServiceUpdate(customer,service)">Update</button>
                  </div>
               
    </div>
  </div>
  
</div> -->

<div id="dashboard-project" class="page-layout blank grey-100-bg" fusePerfectScrollbar>
  <div class="content" style="padding-bottom:0;">
     <div class="left">
        <h2>Customer Detail</h2>
        <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
           <div class="widget" fxFlex="100" fxFlex.gt-sm="50">
              <div class="fuse-card auto-width" [ngClass.gt-sm]="'mb-0 mr-32'">
                 <div class="p-8 pb-0" fxLayout="row" fxLayoutAlign="start end" fxLayoutWrap>
                    <div class="pr-8">
                       <div class="h2 secondary-text" fxLayout="column" fxLayout.gt-xs="row">Customer Contact</div>
                    </div>
                 </div>
                 <div class="p-8">
                    <div class="h-580 w-100-p">
                       <form name="" class="event-form w-100-p" fxLayout="column" fxFlex>
                          <!-- <mat-form-field>
                             <mat-select placeholder="Customer">
                                <mat-option *ngFor="let customerCustomer of customerCustomers" [value]="customerCustomer.value">
                                {{ customerCustomer.viewValue }}
                                </mat-option>
                             </mat-select>
                          </mat-form-field> -->

                          <div fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row">
                             <mat-form-field class="example-full-width" fxFlex>
                                <input matInput placeholder="First Name"  [(ngModel)]="customer.first_name" [ngModelOptions]="{standalone: true}">
                             </mat-form-field>
                             <mat-form-field fxFlex>
                                <input matInput placeholder="Last Name" [(ngModel)]="customer.last_name" [ngModelOptions]="{standalone: true}">
                             </mat-form-field>
                          </div>
                          <mat-form-field class="w-100-p">
                             <input matInput placeholder="Email"  [(ngModel)]="customer.email" [ngModelOptions]="{standalone: true}">
                          </mat-form-field>
                          <div class="py-8" fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row">
                             <mat-form-field class="mr-sm-24" fxFlex>
                                <input matInput placeholder="Cell Phone"  [(ngModel)]="customer.phone" [ngModelOptions]="{standalone: true}">
                             </mat-form-field>
                             <mat-form-field fxFlex>
                                <input matInput placeholder="Alt Phone"  [(ngModel)]="customer.alt_phone" [ngModelOptions]="{standalone: true}">
                             </mat-form-field>
                          </div>
                          <mat-form-field class="w-100-p">
                             <input matInput placeholder="Address 1" [(ngModel)]="customer.address1" [ngModelOptions]="{standalone: true}">
                          </mat-form-field>
                          <mat-form-field class="w-100-p">
                             <input matInput placeholder="Address 2" [(ngModel)]="customer.address2" [ngModelOptions]="{standalone: true}">
                          </mat-form-field>
                          <div class="py-8" fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row">
                             <mat-form-field class="mr-sm-24" fxFlex>
                                <input matInput placeholder="City"  [(ngModel)]="customer.city" [ngModelOptions]="{standalone: true}">
                             </mat-form-field>
                             <mat-form-field class="mr-sm-24" fxFlex>
                                <input matInput placeholder="State" [(ngModel)]="customer.state" [ngModelOptions]="{standalone: true}">
                             </mat-form-field>
                             <mat-form-field fxFlex>
                                <input matInput placeholder="Zip" [(ngModel)]="customer.zip" [ngModelOptions]="{standalone: true}">
                             </mat-form-field>
                          </div>
                       </form>
                    </div>
                 </div>
              </div>
           </div>
           <div class="widget" fxFlex="100" fxFlex.gt-sm="50">
              <div class="fuse-card auto-width" [ngClass.gt-sm]="'mb-0'">
                 <div class="p-8 pb-0" fxLayout="row" fxLayoutAlign="start end" fxLayoutWrap>
                    <div class="pr-8">
                       <div class="h2 secondary-text" fxLayout="column" fxLayout.gt-xs="row" >Service Location</div>
                    </div>
                 </div>
                 <div class="p-8">
                    <div class="h-580 w-100-p">
                       <form name="" class="event-form w-100-p" fxLayout="column" fxFlex>
                        <mat-form-field>
                          <mat-select placeholder="Contact" [(ngModel)]="serviceId" name="serviceId" (change)="getServiceData(serviceId)">
                            <mat-option *ngFor="let serviceCustomer of serviceData"   [value]="serviceCustomer.id" >
                              {{ serviceCustomer.first_name }} {{ serviceCustomer.last_name }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                          <div fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row">
                             <mat-form-field class="example-full-width" fxFlex>
                                <input matInput placeholder="First Name"  [(ngModel)]="service.first_name" [ngModelOptions]="{standalone: true}">
                             </mat-form-field>
                             <mat-form-field fxFlex>
                                <input matInput placeholder="Last Name" [(ngModel)]="service.last_name" [ngModelOptions]="{standalone: true}">
                             </mat-form-field>
                          </div>
                          <mat-form-field class="w-100-p">
                             <input matInput placeholder="Email" [(ngModel)]="service.email" [ngModelOptions]="{standalone: true}" >
                          </mat-form-field>
                          <div class="py-8" fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row">
                             <mat-form-field class="mr-sm-24" fxFlex>
                                <input matInput placeholder="Cell Phone" [(ngModel)]="service.phone" [ngModelOptions]="{standalone: true}">
                             </mat-form-field>
                             <mat-form-field fxFlex>
                                <input matInput placeholder="Alt Phone" [(ngModel)]="service.alt_phone" [ngModelOptions]="{standalone: true}">
                             </mat-form-field>
                          </div>
                          <mat-form-field class="w-100-p">
                             <input matInput placeholder="Address 1" [(ngModel)]="service.address1" [ngModelOptions]="{standalone: true}">
                          </mat-form-field>
                          <mat-form-field class="w-100-p">
                             <input matInput placeholder="Address 2" [(ngModel)]="service.address2" [ngModelOptions]="{standalone: true}">
                          </mat-form-field>
                          <div class="py-8" fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row">
                             <mat-form-field class="mr-sm-24" fxFlex>
                                <input matInput placeholder="City" [(ngModel)]="service.city" [ngModelOptions]="{standalone: true}">
                             </mat-form-field>
                             <mat-form-field class="mr-sm-24" fxFlex>
                                <input matInput placeholder="State"  [(ngModel)]="service.state" [ngModelOptions]="{standalone: true}">
                             </mat-form-field>
                             <mat-form-field fxFlex>
                                <input matInput placeholder="Zip"   [(ngModel)]="service.zip" [ngModelOptions]="{standalone: true}">
                             </mat-form-field>
                          </div>
                          <!-- <div class="py-8" fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row">
                             <mat-form-field class="mr-sm-24" fxFlex>
                                <mat-select placeholder="Sales Tax">
                                   <mat-option value="1">Option 1</mat-option>
                                   <mat-option value="2">Option 2</mat-option>
                                </mat-select>
                             </mat-form-field>
                          </div> -->
                       </form>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div class="mt-16" style="text-align:center">
           <button mat-raised-button color="primary" (click)="createWorkOrder(customer)">Create Work Order</button>
           <button mat-raised-button color="primary" (click)="getCustomerServiceUpdate(customer,service)">Save</button>
        </div>
     </div>
  </div>
</div>

