<div class="dialog-content-wrapper">
  <mat-toolbar matDialogTitle class="mat-accent m-0">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">Edit Customer</span>
      <button mat-button mat-dialog-close class="mat-icon-button">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>

    <form name="" #form="ngForm" class="event-form w-100-p" fxLayout="column" fxFlex>
      <h4 *ngIf="showErrorMessage"> {{errorMessage}}</h4>

      <div class="py-16" fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row">

        <mat-form-field class="mr-sm-24" fxFlex>

          <input matInput placeholder="First Name" name="first_name" [(ngModel)]="result.first_name" required>

        </mat-form-field>

        <mat-form-field fxFlex>
          <input matInput placeholder="Last Name" name="last_name" [(ngModel)]="result.last_name" required>
        </mat-form-field>

      </div>

      <mat-form-field class="w-100-p">
        <input matInput placeholder="Email" pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" name="email" type="email" [(ngModel)]="result.email"
          required readonly>
      </mat-form-field>

      <div class="py-16" fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row" required>

        <mat-form-field class="mr-sm-24" fxFlex>

          <input matInput placeholder="Cell Phone" name="phone" [(ngModel)]="result.phone" type="text" min="10" max="10" required>

        </mat-form-field>

        <mat-form-field fxFlex>
          <input matInput placeholder="Alt Phone" name="altphone" [(ngModel)]="result.alt_phone" type="text" min="10" max="10" >
        </mat-form-field>

      </div>

      <mat-form-field class="w-100-p">
        <input matInput placeholder="Address 1" name="address1" [(ngModel)]="result.address1" required>
      </mat-form-field>

      <mat-form-field class="w-100-p">
        <input matInput placeholder="Address 2" name="address2" [(ngModel)]="result.address2">
      </mat-form-field>

      <div class="py-16" fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row">

        <mat-form-field class="mr-sm-24" fxFlex>

          <input matInput placeholder="City" name="city" [(ngModel)]="result.city" required>

        </mat-form-field>

        <mat-form-field class="mr-sm-24" fxFlex>
          <input matInput placeholder="State" name="state" [(ngModel)]="result.state" required>
        </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput placeholder="Zip" name="zip" [(ngModel)]="result.zip" type="text" required>
        </mat-form-field>

      </div>

      <div class="py-16" fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row">

        <mat-form-field class="mr-sm-24" fxFlex>

          <mat-select placeholder="Sales Tax" required [(ngModel)]="result.sales_tax" name="sales_tax">
            <mat-option value="1">Option 1</mat-option>
            <mat-option value="2">Option 2</mat-option>
          </mat-select>

        </mat-form-field>

        <mat-form-field class="mr-sm-24" fxFlex>
          <mat-select placeholder="Terms" required [(ngModel)]="result.terms" name="terms">
            <mat-option value="1">Option 1</mat-option>
            <mat-option value="2">Option 2</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex>
          <mat-select placeholder="Customer Type" required [(ngModel)]="result.customer_type" name="customer_type">
            <mat-option value="1">Option 1</mat-option>
            <mat-option value="2">Option 2</mat-option>
          </mat-select>
        </mat-form-field>

      </div>


    </form>

  </div>

  <div mat-dialog-actions class="m-0 pl-148 pr-148 dialog-buttons" fxLayout="row" fxLayoutAlign="space-between center">

    <button mat-raised-button class="save-button mat-accent" [disabled]="!form.valid" (click)="updateCustomer(result)">

      <!-- <button mat-raised-button [mat-dialog-close]="result"   class="save-button mat-accent" (click)="updateCustomer(result)"> -->
      Save Customer
    </button>
    <button *ngIf="showWorkOrder!=false"  mat-raised-button class="save-button mat-accent" [disabled]="!form.valid" (click)="workOrder(result)">
      Create Work Order
    </button>
  </div>
</div>
