@import 'src/app/core/scss/fuse';

:host {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    overflow-y: auto;

    .todo-header {
        padding: 24px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        background: rgba(0, 0, 0, 0.06);

        .actions {
            min-width: 88px;
        }

    }

    .todo-content {
        padding: 24px;

        .title {
            font-size: 17px;
            font-weight: 500;
        }

        .tag {
            font-size: 11px;
            border-radius: 2px;
            margin: 8px 4px 0 0;
            padding: 3px 8px;
            background-color: rgba(0, 0, 0, 0.08);

            .tag-color {
                width: 8px;
                height: 8px;
                margin-right: 8px;
                border-radius: 50%;
            }
        }

        .dates {

            .mat-form-field {
                width: auto !important;
            }
        }
    }
}
