<div *ngIf="!todo" fxLayout="column" fxLayoutAlign="center center" fxFlex>
    <mat-icon class="s-120 mb-12 select-todo-icon" *fuseIfOnDom
              [@animate]="{value:'*',params:{delay:'300ms',scale:'0.2'}}">check_box
    </mat-icon>
    <span class="hint-text mat-h1 select-todo-text" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'400ms'}}">Select
        a todo
    </span>
</div>

<div *ngIf="todo">

    <div class="todo-header" fxLayout="row" fxLayoutAlign="space-between center">

        <button mat-button class="toggle-complete-button p-0" (click)="toggleCompleted($event)"
                aria-label="Toggle completed" fxFlex="0 1 auto">
            <mat-icon *ngIf="todo.completed">check_box</mat-icon>
            <mat-icon *ngIf="!todo.completed">check_box_outline_blank</mat-icon>
            <span>Mark as Done</span>
        </button>

        <div class="actions" fxLayout="row" fxLayoutAlign="start center">

            <button mat-button class="mat-icon-button" (click)="toggleDeleted($event)" aria-label="Toggle delete">
                <mat-icon *ngIf="todo.deleted">delete_forever</mat-icon>
                <mat-icon *ngIf="!todo.deleted">delete</mat-icon>
            </button>

           

            <button mat-button class="mat-icon-button" (click)="toggleStar($event)" aria-label="Toggle star">
                <mat-icon *ngIf="todo.starred">star</mat-icon>
                <mat-icon *ngIf="!todo.starred">star_outline</mat-icon>
            </button>

            <button mat-icon-button [matMenuTriggerFor]="labelMenu" fxFlex="0 1 auto">
                <mat-icon>label</mat-icon>
            </button>

            <mat-menu #labelMenu="matMenu">
                <button mat-menu-item *ngFor="let tag of tags"
                        (click)="toggleTagOnTodo(tag.id)">
                    {{tag.title}}
                </button>
            </mat-menu>

        </div>
    </div>

    <div class="todo-content">

        <form [formGroup]="todoForm" (submit)="addTodo()">

            <mat-form-field class="title mt-8" floatPlaceholder="never" fxFill>
                <textarea matInput
                          #titleInput
                          name="title"
                          formControlName="title"
                          placeholder="Title"
                          required>
                </textarea>
            </mat-form-field>

            <div class="tags mb-24" fxFlexFill fxLayout="row" fxLayoutWrap>
                <div class="tag" fxLayout="row" fxLayoutAlign="start center" *ngFor="let tagId of todo.tags">

                    <div class="tag-color" [ngStyle]="{'background-color': tags | getById:tagId:'color'}"></div>

                    <div class="tag-label">{{tags | getById:tagId:'title'}}</div>
                </div>
            </div>

            <div class="dates" fxFlexFill fxLayout="column" fxLayout.gt-xs="row">

                <mat-form-field class="mr-sm-24" fxFlex>
                    <input matInput [matDatepicker]="startDatePicker" placeholder="Start Date">
                    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #startDatePicker></mat-datepicker>
                </mat-form-field>

                <mat-form-field fxFlex>
                    <input matInput [matDatepicker]="dueDatePicker" placeholder="Due Date">
                    <mat-datepicker-toggle matSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #dueDatePicker></mat-datepicker>
                </mat-form-field>

            </div>

            <mat-form-field class="" fxFill>
                <textarea matInput #notes
                          name="notes"
                          formControlName="notes"
                          placeholder="Notes"
                          maxlength="500">
                </textarea>
                <mat-hint align="end">{{notes.value.length}} / 500</mat-hint>
            </mat-form-field>

            <button *ngIf="formType === 'new'"
                    mat-raised-button class="mat-accent"
                    [disabled]="todoForm.invalid">SAVE
            </button>
        </form>

    </div>
</div>
