<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Add Schedule</span>
            <button mat-button  [mat-dialog-close]="true" class="mat-icon-button">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>

        <form name="" class="event-form w-100-p" fxLayout="column" fxFlex>

 <h2 class="m-0">Start</h2>
              <div class="py-16" fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row" formGroupName="color">
                  <mat-form-field class="mr-sm-24" fxFlex>
  <input matInput [matDatepicker]="picker" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

                <mat-form-field class="mr-sm-24" fxFlex>
  <mat-select placeholder="Hour" [(value)]="selected">
    <mat-option>None</mat-option>
    <mat-option value="">8 AM</mat-option>
    <mat-option value="">9 AM</mat-option>
    <mat-option value="">10 AM</mat-option>
    <mat-option value="">11 AM</mat-option>
    <mat-option value="">12 AM</mat-option>
  </mat-select>
</mat-form-field>

                <mat-form-field class="mr-sm-24" fxFlex>
  <mat-select placeholder="Min" [(value)]="selected2">
    <mat-option>None</mat-option>
    <mat-option value="">00</mat-option>
    <mat-option value="">01</mat-option>
    <mat-option value="">02</mat-option>
    <mat-option value="">03</mat-option>
    <mat-option value="">04</mat-option>
  </mat-select>
</mat-form-field>


            </div>
       
<h2 class="m-0">End</h2>

              <div class="py-16" fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row" formGroupName="color">
                  <mat-form-field class="mr-sm-24" fxFlex>
  <input matInput [matDatepicker]="picker2" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
  <mat-datepicker #picker2></mat-datepicker>
</mat-form-field>

                <mat-form-field class="mr-sm-24" fxFlex>
  <mat-select placeholder="Hour" [(value)]="selected">
    <mat-option>None</mat-option>
    <mat-option value="">8 AM</mat-option>
    <mat-option value="">9 AM</mat-option>
    <mat-option value="">10 AM</mat-option>
    <mat-option value="">11 AM</mat-option>
    <mat-option value="">12 AM</mat-option>
  </mat-select>
</mat-form-field>

                <mat-form-field class="mr-sm-24" fxFlex>
  <mat-select placeholder="Min" [(value)]="selected2">
    <mat-option>None</mat-option>
    <mat-option value="">00</mat-option>
    <mat-option value="">01</mat-option>
    <mat-option value="">02</mat-option>
    <mat-option value="">03</mat-option>
    <mat-option value="">04</mat-option>
  </mat-select>
</mat-form-field>

   </div>
  <div class="py-16" fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row" formGroupName="color">
   <mat-form-field class="mr-sm-24" fxFlex>
  <mat-select placeholder="Appointment" [(value)]="selected3">
    <mat-option>None</mat-option>
    <mat-option value="">Jason Levy</mat-option>
    <mat-option value="">Ken Rogers</mat-option>
    <mat-option value="">Valerie Liberty</mat-option>
    <mat-option value="">Marco Botton</mat-option>
    <mat-option value="">Valerie Liberty</mat-option>
    <mat-option value="">Ken Rogers</mat-option>
  </mat-select>
</mat-form-field>

   <mat-form-field class="mr-sm-24" fxFlex>
  <mat-select placeholder="Email" [(value)]="selected3">
    <mat-option>None</mat-option>
    <mat-option value="">15 Min</mat-option>
    <mat-option value="">1 hr</mat-option>
    <mat-option value="">2 hr</mat-option>
    <mat-option value="">1 day</mat-option>
    <mat-option value="">2 days</mat-option>
    <mat-option value="">3 days</mat-option>
    <mat-option value="">4 days</mat-option>
    <mat-option value="">5 days</mat-option>
    <mat-option value="">6 days</mat-option>
    <mat-option value="">7 days</mat-option>
    <mat-option value="">8 days</mat-option>
    <mat-option value="">9 days</mat-option>
    <mat-option value="">10 days</mat-option>
  </mat-select>
</mat-form-field>
   <div class="mr-sm-24" fxFlex>
 <h4>before</h4>
</div>


            </div>



        </form>

    </div>

    <div mat-dialog-actions class="m-0 pl-248 pr-248 dialog-buttons" fxLayout="row" fxLayoutAlign="space-between center">

        <button mat-raised-button [mat-dialog-close]="true" class="save-button mat-accent">
            Save
        </button>
    </div>
</div>
