<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Add Service</span>
            <button mat-button  mat-dialog-close class="mat-icon-button">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>

        <form name="addService" [formGroup]="addService" class="event-form w-100-p" fxLayout="column" fxFlex novalidate>
            <h4 *ngIf="showErrorMessage">{{errorMessage}}</h4>
          <div class="py-16" fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row" >
                
                <mat-form-field class="mr-sm-24" fxFlex>
                        <input matInput formControlName="first_name" placeholder="First Name" [(ngModel)]="user.first_name" required >
                        <mat-error *ngIf="addServiceErrors.first_name.required">
                            First Name required
                        </mat-error>
                </mat-form-field>
                 
                <mat-form-field fxFlex>
                    <input matInput formControlName="last_name" placeholder="Last Name" [(ngModel)]="user.last_name" required>
                    <mat-error *ngIf="addServiceErrors.last_name.required">
                        Last Name required
                    </mat-error> 
                </mat-form-field>
                
            </div>

              <mat-form-field class="w-100-p">
              <input matInput type="email" formControlName="email" [(ngModel)]="user.email" placeholder="Email" required >
              <mat-error *ngIf="addServiceErrors.email.required">
                Email required
            </mat-error> 
            </mat-form-field>
            
              <div class="py-16" fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row">

                <mat-form-field class="mr-sm-24" fxFlex>
                    
                          <input required matInput formControlName="phone" min="10" max="10" [(ngModel)]="user.phone" placeholder="Cell Phone">
                          <mat-error *ngIf="addServiceErrors.phone.required">
                            Phone Number required
                        </mat-error> 
                </mat-form-field>
                <mat-form-field fxFlex>
                    <input matInput  formControlName="altphone" min="10" max="10" [(ngModel)]="user.altphone" placeholder="Alt Phone">
                </mat-form-field>
               
            </div>

                <mat-form-field class="w-100-p">
                 <input matInput  required formControlName="address1" [(ngModel)]="user.address1" placeholder="Address 1">
                 <mat-error *ngIf="addServiceErrors.address1.required">
                    Address required
                </mat-error> 
               </mat-form-field>
            
                <mat-form-field class="w-100-p">
              <input matInput  formControlName="address2" [(ngModel)]="user.address2" placeholder="Address 2">
            </mat-form-field>
            
             <div class="py-16" fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row" >

                <mat-form-field class="mr-sm-24" fxFlex>
                    
                          <input matInput required formControlName="city" [(ngModel)]="user.city" placeholder="City">
                          <mat-error *ngIf="addServiceErrors.city.required">
                            City required
                        </mat-error> 
                </mat-form-field>
                <mat-form-field class="mr-sm-24" fxFlex>
                    <input matInput  required formControlName="state" [(ngModel)]="user.state" placeholder="State">
                    <mat-error *ngIf="addServiceErrors.state.required">
                        State required
                    </mat-error> 
                </mat-form-field>
                
                <mat-form-field fxFlex>
                    <input matInput  required formControlName="zip" [(ngModel)]="user.zip" placeholder="Zip">
                    <mat-error *ngIf="addServiceErrors.zip.required">
                        Zip required
                    </mat-error> 
                </mat-form-field>
                
            </div>

               <div class="py-16" fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row" >

                <mat-form-field class="mr-sm-24" fxFlex>
                    
                      <mat-select formControlName="saletax" required [(ngModel)]="user.saletax" placeholder="Sales Tax">
                      <mat-option value="1">Option 1</mat-option>
                      <mat-option value="2">Option 2</mat-option>
                      </mat-select>
                      <mat-error *ngIf="addServiceErrors.saletax.required">
                        Sales Tax required
                    </mat-error>   
                </mat-form-field>

            </div>


        </form>

    </div>

    <div mat-dialog-actions class="m-0 pl-248 pr-248 dialog-buttons" fxLayout="row" fxLayoutAlign="space-between center">

        <button  mat-raised-button  (click)="submitfn(user)" [disabled]="addService.invalid" class="save-button mat-accent">

       <!-- <button mat-raised-button [mat-dialog-close]="user" (click)="submitfn(user)" [disabled]="addService.invalid" class="save-button mat-accent"> -->
            Create Service Location
        </button>

    </div>
</div>
