<div id="forgot-password" fxLayout="column" fusePerfectScrollbar>

    <div id="forgot-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center" *fuseIfOnDom
         [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

        <div id="forgot-password-form">

            
            <div class="title">Want to change password?</div>

            <form  #form="ngForm"  >

                <mat-form-field>
                     <input matInput type="password" placeholder="Enter New Password" [(ngModel)]="password.new" name="new" [ngModelOptions]="{standalone: true}" required>
                </mat-form-field>

                   <mat-form-field>
                     <input matInput type="password" placeholder="Enter confirm New Password" [(ngModel)]="password.confirm" name="confirm" [ngModelOptions]="{standalone: true}" required>
                </mat-form-field>

                <button mat-raised-button class="submit-button" color="accent"
                        aria-label="SEND RESET LINK" [disabled]="form.invalid" (click)="checkPassword(password)">
                    CHANGE PASSWORD
                </button>
            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/'">Go back to login</a>
            </div>

        </div>

    </div>

</div>